*{
	margin: 0;
	padding: 0;
}
html, body {
	height:100%;
	font-family: Verdana;
}
body {
	background-color:#D8D8D8;
	
}
#container {
	min-height:100%;
	position:relative;
	width:960px;
	margin:0 auto;
	background: url('../images/background.png');
	color:#303030;
	border-left-style:solid;
	border-left-width:3px;
	border-left-color:#006699;
	border-right-style:solid;
	border-right-width:3px;
	border-right-color:#006699;
}
header {
	width: 960px;
	background-color: green;
	height:240px;
	background: url('../images/header.png');
}
#search {
	float: right;
	padding: 10px;
	padding-top: 210px;
	padding-right: 0px;
}
#search_button {
	float:right;
	padding-top: 211px;
}
nav {
	float: left;
	margin:0;
	margin-top: 5px;	
	padding:0;
	padding-bottom:80px;
	min-height: 300px;
	width:200px;
	list-style:none;
}
nav li {
  display:inline
}

nav li a {
  text-decoration:none;
  margin:5px 12px 5px 15px;
  padding: 0px;
  height:50px;
  width: 170px;
  background:#666666;
  color:#000000;
  float:left; 
  text-align:center;
  line-height: 50px;
  font-size: 23pt;
}

nav li a:hover {
  color:#000000;
  height: 50px;
  width: 170px;
  background: url('../images/menu_button.png');
} 
section {
	float: right;
	padding: 0;
	padding-bottom:80px;
	min-height: 300px;
	width:760px;				
}
textarea:focus, input:focus{
    outline: 0;
}
footer {
	clear: both;
	height:80px;
	width:960px;
	text-align: center;
	position:relative;
	bottom:0;
	background: url('../images/footer.png');
}